<br /><br />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formation au web</h3>
  </div>
  <div class="panel-body">
    Bienvenue à la formation aux bases du web organisée par le BR. Pour commencer indique ton adresse email (on vous enverra un récapitulatif <i>à l'issue</i>) :<br /><br />
    <form class="form-horizontal" ng-submit="connexion()">
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label" ng-model="email">Email</label>
    <div class="col-sm-8">
      <input type="email" id="email" class="form-control" placeholder="prenom.nom@polytechnique.edu">
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Commencer</button>
    </div>
  </div>
</form>
  </div>
</div>
